
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.3.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer1 */
.ui-content.page2_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
	height: 100%;
}
/* mobiletextarea_6 */
.page2_mobiletextarea_6 {
	margin: 4px 0px 4px 0px;
}
/* mobileimage_4 */
.page2_mobileimage_4 {
	margin: 4px 0px 4px 0px;
	width: 273px; height: 163px;
	display: block;
}
/* page3 */
#page2_page3 {

}
.ui-btn.page2_page3 {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_3 */
.page2_mobilelabel_3 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 20px 0px;
	word-wrap: break-word;
}
/* mobilefooter1 */
.page2_mobilefooter1 {
	min-height:38px;
}